body{
    background-color: 	#FFFACD;
}
div{
    background-color: white;
    text-align: center;
    width: 80%;
    
    margin: 10%;
    margin-top: 0%;
    border-radius: 10px;
}
img{
    margin-top: 10px;
    width: 150px;
    height: 100px;
}
button{
    background-color: #ADD8E6;
    border: none;
    margin-block: 10px;
}